@{
    ViewBag.Title = "About";
}


<!-- /content-6-->
<section class="w3l-content-6">
    <!-- /content-6-main-->
    <div class="content-6-mian py-5">
        <div class="container py-lg-5">
            <div class="content-info-in row">
                <div class="content-gd col-lg-5 pl-lg-4">
                    <div class="title-content text-left mb-2">
                        <h6 class="sub-title">About Us</h6>
                        <h3 class="hny-title">We have 25+ years of experiences give you better results.</h3>
                    </div>
                    <h4>
                        Need expert moving advice?
                        You’ve come to the right place
                    </h4>
                </div>
                <div class="content-gd col-lg-7 pl-lg-4 pl-lg-4 mt-lg-0 mt-md-5 mt-4">
                    <p>
                       Best in the town 
                    </p>
                    <p>
                       Best moving services 
                    </p>
                </div>

            </div>
        </div>
</section>
<!-- //content-6-->



<section class="w3l-content-4">
    <!-- /content-6-section -->
    <div class="content-4-main py-5">
        <div class="container py-lg-4">
            <div class="content-info-in row">
                <div class="content-left col-lg-6 pr-lg-4 text-lg-right">
                    <h6 class="sub-title">
                        Who we are
                    </h6>
                    <h3 class="hny-title">
                        Moving resources
                    </h3>
                   
                    <img src="~/assets/images/3.jpg" class="img-fluid mt-3" alt="">
                </div>
                <div class="content-right col-lg-6 pl-lg-4">
                    <div class="row content4-right-grids mb-lg-5 mb-4">
                        <div class="col-md-2 content4-right-icon">
                            <div class="content4-icon">
                                <span class="fa fa-pencil-square-o"></span>
                            </div>
                        </div>
                        <div class="col-md-10 content4-right-info">
                            <h6><a href="#">Guide to moving</a></h6>
                          
                        </div>

                    </div>
                    <div class="row content4-right-grids mb-lg-5 mb-4">
                        <div class="col-md-2 content4-right-icon">
                            <div class="content4-icon">
                                <span class="fa fa-map-o"></span>
                            </div>
                        </div>
                        <div class="col-md-10 content4-right-info">
                            <h6>
                                <a href="#">
                                    Relocation guides
                                </a>
                            </h6>
                           
                        </div>

                    </div>
                    <div class="row content4-right-grids mb-lg-5 mb-4">
                        <div class="col-md-2 content4-right-icon">
                            <div class="content4-icon">
                                <span class="fa fa-podcast"></span>
                            </div>
                        </div>
                        <div class="col-md-10 content4-right-info">
                            <h6>
                                <a href="#">
                                    Moving supplies
                                </a>
                            </h6>
                          
                        </div>

                    </div>
                    <div class="row content4-right-grids">
                        <div class="col-md-2 content4-right-icon">
                            <div class="content4-icon">
                                <span class="fa fa-window-restore"></span>
                            </div>
                        </div>
                        <div class="col-md-10 content4-right-info">
                            <h6>
                                <a href="#">
                                    Checklists
                                </a>
                            </h6>
                         
                        </div>

                    </div>
                </div>


            </div>

        </div>
    </div>
</section>
<!-- //content-6-section -->
