@{
    ViewBag.Title = "Contact";
}

<!-- /contact-form -->
<section class="w3l-contact-11">
    <div class="form-41-mian py-5">
        <div class="container py-lg-5">
            <div class="title-content text-center">
                <h6 class="sub-title">Contact Us</h6>
                <h3 class="hny-title">Drop us a line</h3>
            </div>
            <div class="d-grid align-form-map mt-lg-5 mt-4">
                <div class="form-inner-cont">
                    <form action="sendQuery" method="post" class="signin-form">
                        <div class="form-input">
                            <input type="text" name="w3lName" id="w3lName" placeholder="Name" />
                        </div>
                        <div class="row con-two">
                            <div class="col-lg-12 form-input">
                                <input type="email" name="w3lSender" id="w3lSender" placeholder="Email" required="" />
                            </div>
                  
                        </div>
                        <div class="form-input">
                            <textarea placeholder="Message" name="w3lMessage" id="w3lMessage" required=""></textarea>
                        </div>
                        <div class="submit-button text-lg-right">
                            <button type="submit" class="btn btn-style">Submit</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <div class="contacts-main py-5">
        <div class="contant11-top-bg py-lg-5">
            <div class="container">
                <div class="contact-info-left d-grid text-center">
                    <div class="contact-info">
                        <span class="fa fa-map-marker" aria-hidden="true"></span>
                        <h4>Our Address</h4>
                        <p>New street, sk-90814 Auckland</p>
                    </div>
                    <div class="contact-info">
                        <span class="fa fa-phone" aria-hidden="true"></span>
                        <h4>Phone Number</h4>
                        <p><a href="#">+64-2345-678-11</a></p>

                    </div>
                    <div class="contact-info">
                        <span class="fa fa-clock-o" aria-hidden="true"></span>
                        <h4>Email Address</h4>
                        <p><a href="#" class="email">housemovernz@gmail.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d50998.83846861011!2d174.8204502791151!3d-36.975729957520834!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d0d4e72a1fa46d1%3A0x500ef6143a2f520!2sPapatoetoe%2C%20Auckland%2C%20New%20Zealand!5e0!3m2!1sen!2sin!4v1600074368268!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
</section>
<!-- //contact-form -->
