@{
    ViewBag.Title = "Home Page";
}
<!-- /specification-6-->
<section class="w3l-specification-6">
    <div class="specification-6-mian py-5">
        <div class="container py-lg-4">
            <div class="row story-6-grids text-left">
                <div class="col-lg-5 story-gd">
                    <img src="~/assets/images/ab1.jpg" class="img-fluid" alt="/">
                </div>
                <div class="col-lg-7 story-gd pl-lg-4">
                    <div class="title-content text-left">
                        <h6 class="sub-title">Our Company</h6>
                        <h3 class="hny-title">We are the best <br>moving company in the world.</h3>

                    </div>


                </div>

            </div>
        </div>
    </div>
</section>
<!-- //specification-6-->
<section class="features-4">
    <div class="features4-block py-5">
        <div class="container py-lg-4">
            <div class="title-content text-center mb-lg-5 mt-4">
                <h6 class="sub-title">Why Choose Us</h6>
                <h3 class="hny-title">
                    We give you complete control<br>
                    of your shipments.
                </h3>

            </div>
            <div class="row features4-grids text-left mt-lg-4">
                <div class="col-lg-4 col-md-6 features4-grid mt-4">
                    <div class="features4-grid-inn">
                        <div class="nuber-box">01</div>
                        <div class="features4-rightinfo">
                            <h5>
                                <a href="#URL">
                                    Request quotes
                                </a>
                            </h5>


                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 features4-grid mt-4">
                    <div class="features4-grid-inn">
                        <div class="nuber-box">02</div>
                        <div class="features4-rightinfo">
                            <h5>
                                <a href="#URL">
                                    Compare prices
                                </a>
                            </h5>


                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 features4-grid mt-4">
                    <div class="features4-grid-inn">
                        <div class="nuber-box">03</div>
                        <div class="features4-rightinfo">
                            <h5>
                                <a href="#URL">
                                    Safely delivered
                                </a>
                            </h5>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!-- features-4 -->
<!--/blog-grids-home-->
<section class="bloghny-gds py-5">
    <div class="container py-lg-4">
        <div class="title-content text-left mb-lg-5 mb-4">
            <h6 class="sub-title">Services</h6>
            <h3 class="hny-title">We can help you with</h3>
            <p class="title-para mt-3">We Provide the following Services</p>
        </div>
        <div class="row text-left img-grids">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="ser-bg1">
                    <div class="p-md-5 p-3">
                        <h4><a href="#url">Moving House</a></h4>

                        <h6>From $99</h6>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mt-md-0 mt-4">
                <div class="ser-bg2">
                    <div class="p-md-5 p-3">
                        <h4><a href="#url">Office Relocation</a></h4>

                        <h6>From $99</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mt-lg-0 mt-4">
                <div class="ser-bg3">
                    <div class="p-md-5 p-3">
                        <h4><a href="#url">Moving Abroad</a></h4>

                        <h6>From $99</h6>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!--//blog-grids-home-->
