
@{
    ViewBag.Title = "submitted";
}
<div class="container">
    <div class="row">
        <h1>Thanks for the Query! We will contact you soon</h1>
        <br/>
        <a href="@Url.Action("Index","Home")">Back to Index </a>

    </div>

</div>